<style type="text/css">
            .grade-a .has-header{top:0 !important}
        </style>
<ion-view ng-controller="LoginController" title="Facebook Example">
    <ion-content class="loginPanel">
    	<div class="loginLogo">
                        
        </div>
        <div class="startBtn">
	        <p><a ng-click="loginf()" class="nobg">
	          <img src="img/loginFacebook.jpg" />
	        </a></p>

	        <p><a ng-click="loging()" class="nobg">
	          <img src="img/loginGoogle.jpg" />
	        </a></p>
	    </div>
        <!--<div class="padding"
            <button ng-click="loginf()" ><img src="img/loginFacebook.jpg" /></button>
            <button ng-click="loging()" ><img src="img/loginGoogle.jpg" /></button>
        </div>-->
    </ion-content>
</ion-view>